body {
  margin-top:20px;
  margin-bottom:200px;
}

.label {
  margin-right: 5px;
}

.comments blockquote {
  margin-top: 5px;
}


.ng-invalid.ng-dirty {
  border-color:#fa787e;
}

.ng-valid.ng-dirty {
  border-color:#78fa89;
}

a:hover, a:focus {
  text-decoration:none;
}

table{
	border-collapse: collapse;
	text-align: center
}

th{
	text-align: center;
}

.img-thumbnail{
	width: 490px;
	height: 340px;
}

div.col-md-2{
	width: 1000px;
}