
<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#Car1">Car</a></li>
            <li><a href="#Client1">Client</a></li>
			<li><a href="#Product1">Product </a> </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
     
    </div>
  </div>

  <hr/>

  <!-- /resources1 -->
  <div class="container" ng-controller="HomeController">
    <h1 class="resource-title" id="Car1">Car</h1>

    <table class="table table-bordered table-hover">
      <tr class="info">
        <th>Id</th>
        <th>Brand</th>
		<th>Serial Number</th>
        <th>Year</th>
   
        <th style="width:210px;">Options</th>
      </tr>
	    <tr ng-repeat="item in cars.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
         <td>{{ item.brand }}</td>
		<td>{{ item.serialNumber }}</td>
		<td> {{item.year}} </td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateCar(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteCar(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
      
    
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit car</h2>
        <form action="" method="">
          
          <div class="form-group">
            <label for="attribute2">Brand</label>
            <input type="text" class="form-control" id="nume_magazin" placeholder="Brand">
          </div>
          <div class="form-group">
            <label for="attribute3">Serial Number</label>
            <input type="text" class="form-control" id="adresa_magazin" placeholder="Serial Number">
          </div>
		  <div class="form-group">
            <label for="attribute3">Year</label>
            <input type="text" class="form-control" id="adresa_magazin" placeholder="Year">
          </div>
        
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add car</h2>
        <form action="" method="">
        
		  <div class="form-group">
            <label for="attribute2">Id</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Id" ng-model="car.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Brand</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Brand" ng-model="car.brand">
          </div>
          <div class="form-group">
            <label for="attribute3">Serial Number</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Serial Number" ng-model="car.serialNumber">
          </div>
		   <div class="form-group">
            <label for="attribute3">Year</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Year" ng-model="car.year">
          </div>
          <button ng-click="addCar(car)" type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show car</h2>
      </div>
      <div class="col-md-2">
        <img src="http://momentcar.com/images/dodge-charger-1969-3.jpg" class="img-thumbnail"/>
      </div>
      
    </div>
  </div>

  <hr/>

  <!-- /resources2-->
  <div class="container" ng-controller="HomeController">
    <h1 class="resource-title" id="Client1">Client</h1>

    <table class="table table-bordered table-hover">
      <tr class="info">
        <th>Id</th>
        <th>Name</th>
		<th>Client Code</th>
        <th>Billing Code</th>
   
        <th style="width:210px;">Options</th>
      </tr>
	    <tr ng-repeat="item in clients.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
         <td>{{ item.name }}</td>
		<td>{{ item.clientCode }}</td>
		<td> {{item.billingCode}} </td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateCar(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteCar(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
      
    
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit client</h2>
        <form action="" method="">
          
          <div class="form-group">
            <label for="attribute2">Id</label>
            <input type="text" class="form-control" id="nume_magazin" placeholder="Id">
          </div>
		  <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="nume_magazin" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="attribute3">Client Code</label>
            <input type="text" class="form-control" id="adresa_magazin" placeholder="Client Code">
          </div>
		  <div class="form-group">
            <label for="attribute3">Billing Code </label>
            <input type="text" class="form-control" id="adresa_magazin" placeholder="Billing Code">
          </div>
        
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add client</h2>
        <form action="" method="">
        
		  <div class="form-group">
            <label for="attribute2">Id</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Id" ng-model="client.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Name" ng-model="client.name">
          </div>
          <div class="form-group">
            <label for="attribute3">Client Code</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Client Code" ng-model="client.clientCode">
          </div>
		   <div class="form-group">
            <label for="attribute3">Billing Code</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Billing Code" ng-model="client.billingCode">
          </div>
          <button ng-click="addClient(client)" type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show client</h2>
      </div>
      <div class="col-md-2">
        <img src="http://www.avtrinity.com/wp-content/uploads/2010/09/New-Image-Private-Client.jpg" class="img-thumbnail"/>
      </div>
      
    </div>
  </div>

  <hr/>
  <!-- resursa 3 !-->
    <div class="container" ng-controller="HomeController">
    <h1 class="resource-title" id="Product1">Product</h1>

    <table class="table table-bordered table-hover">
      <tr class="info">
        <th>Id</th>
        <th>Name</th>
		<th>Quantity</th>
   
        <th style="width:210px;">Options</th>
      </tr>
	    <tr ng-repeat="item in products.data" data-id="{{ item.id }}">
        <td>{{ item.id }}</td>
         <td>{{ item.name }}</td>
		<td>{{ item.quantity}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateCar(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteProduct(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
      
    
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit product</h2>
        <form action="" method="">
          
          <div class="form-group">
            <label for="attribute2">Id</label>
            <input type="text" class="form-control" id="nume_magazin" placeholder="Id">
          </div>
		  <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="nume_magazin" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="attribute3">Quantity</label>
            <input type="text" class="form-control" id="adresa_magazin" placeholder="Quantity">
          </div>
		  
        
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add product</h2>
        <form action="" method="">
        
		  <div class="form-group">
            <label for="attribute2">Id</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Id" ng-model="product.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Name" ng-model="product.name">
          </div>
          <div class="form-group">
            <label for="attribute3">Quantity</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Quantity" ng-model="product.quantity">
          </div>
		   
          <button ng-click="addProduct(product)" type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show product</h2>
      </div>
      <div class="col-md-2">
        <img src="http://evusprisa0041.epam.com/content/epam/en/services/product-development/_jcr_content/promoarea_container/image.img.jpg/1369046427025.jpg" class="img-thumbnail"/>
      </div>
      
    </div>
  </div>

  <hr/>

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Nasulea Vlad-Emanuel 333AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
	 
	 

